body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1500px;
}
.logo-img {
  width: 100px;
  height: 40px;
}
.location-img {
  width: 15px;
  height: 18px;
}
.top-nav {
  display: flex;
  background: rgb(19, 25, 33);
  color: white;
  padding: 10px;
  height: 40px;
  justify-content: space-between;
  font-size: 14px;
}
.location {
  width: 139px;
  height: 50px;
  margin-left: 20px;
  h4 {
    margin-top: -4px;
    margin-left: -10px;
  }
}
.search-menu {
  width: 72px;
  height: 38px;
  background: rgb(222, 228, 228);
  color: rgb(102, 101, 101);
}
.search-bar {
  width: 560px;
  height: 33px;
}
.search-btn {
  width: 45px;
  height: 40px;
  background: rgb(254, 189, 105);
  margin-left: -9px;
}
.info {
  display: flex;
}
.lang {
  margin-left: 20px;
  display: flex;
}
.us-flag {
  width: 22px;
  height: 16px;
}
.account {
  width: 139px;
  height: 50px;
  margin-left: 20px;
  h4 {
    margin-top: -4px;
    margin-left: -10px;
  }
}
.orders {
  width: 139px;
  height: 50px;

  h4 {
    margin-top: -4px;
    margin-left: -10px;
  }
}
.cart {
  width: 139px;
  height: 50px;
  margin-left: -40px;
  h4 {
    margin-top: -4px;
    margin-left: -10px;
  }
  img {
    width: 38px;
    height: 26px;
  }
}
.nav-shop {
  display: flex;
  gap: 20px;
  background: rgb(35, 47, 62);
  font-size: 14px;
  padding: 10px;
  font-size: 14px;
  a {
    color: white;
    text-decoration: none;
  }
}
.notice {
  background: rgb(216, 247, 235);
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
.books-nav {
  padding: 10px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 12px;
    text-decoration: none;
    color: black;
  }
}
main {
  width: 1500px;
  display: grid;
  grid-template-areas: "left-side book right-side";
}
.left-side {
  grid-area: left-side;
  width: 293px;
  margin-left: 20px;
}
.book {
  grid-area: book;
  width: 786px;
}
.right-side {
  grid-area: right-side;
  width: 313px;
  font-size: 14px;
  border: 5px solid rgb(229, 229, 229);
  margin-top: 20px;
  padding: 5px;
}
.genre {
  a {
    font-size: 12px;
    text-decoration: none;
    color: grey;
  }
  padding: 20px;
}
.cover {
  img {
    width: 293px;
    height: 439px;
  }
  span {
    color: grey;
    font-family: 14px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    width: 293px;
    height: 29px;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    border-bottom: 293px;
  }
}
.book-cover {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}
.author-details {
  display: flex;
  flex-direction: column;
}
.author-info {
  display: flex;
  gap: 20px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
  }
  a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-top: 15px;
  }
  button {
    border: 1px solid grey;
    color: grey;
    text-align: center;
    width: 98px;
    height: 29px;
    margin-top: 10px;
  }
}
.title-rating {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}
.book-details {
  display: flex;
  gap: 20px;
  h3 {
    margin-top: 25px;
    margin-left: -10px;
    color: grey;
  }
}
.author {
  font-size: 14px;
  margin-top: -25px;
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
#rating {
  margin-top: -25px;
  display: flex;
  gap: 20px;
  font-size: 14px;
}
.rating-number {
  margin-top: 15px;
  font-size: 14px;
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
.goodreads {
  margin-top: -25px;
  font-size: 14px;
  span {
    color: grey;
  }
}
.editor-pick {
  margin-top: -25px;
  display: flex;
  justify-content: space-between;
}
.pick {
  a {
    display: flex;
    text-decoration: none;
  }
  p {
    background: rgb(85, 85, 85);
    font-size: 14px;
    color: white;
    width: 75px;
    height: 20px;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    margin-top: 15px;
    color: var(--secondary-color);
    margin-left: 10px;
    font-size: 14px;
  }
}
.editions {
  margin-top: 15px;
  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 14px;
  }
}
.deal {
  margin-top: 20px;
  display: flex;
  gap: 9px;
  font-size: 14px;
  button {
    background: rgb(127, 218, 105);
    border: 1px solid transparent;
    height: 20px;
    width: 60px;
    margin-top: -3px;
  }
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  p {
    margin-top: 0px;
  }
}
.read-more {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 14px;
}
.book {
  width: 796px;
}
.book-snippet {
  margin-bottom: -3px;
  font-size: 14px;
}
.shadow {
  text-shadow: 0 5px 5px white;
}
.report {
  svg {
    margin-top: 20px;
  }
  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 14px;
  }
  border-bottom: 1px solid grey;
}
.book-details-2 {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
  justify-content: center;
  gap: 40px;
  p {
    font-size: 12px;
  }
}
.length {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    margin-bottom: 15px;
  }
}
.language {
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    margin-bottom: 15px;
  }
}
.publisher {
  align-items: center;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 15px;
  }
}
.pub-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  span {
    margin-bottom: 15px;
  }
}
.dimensions {
  align-items: center;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 15px;
  }
}
.options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  border-bottom: 1px solid grey;
  span {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    border: 1px solid grey;
    background: white;
  }
}
#kindle,
#hardcover {
  height: 66px;
  width: 143px;
  margin-left: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  h4 {
    margin-top: -0.01px;
  }
  text-align: left;
}

#kindle {
  h4 {
    margin-bottom: -5px;
  }
}

#paperback {
  border-radius: 5px;
  height: 50px;
  width: 295px;
  margin-left: 8px;
  h4 {
    margin-top: -0.01px;
  }
  text-align: left;
  border: 4px solid rgb(0, 113, 133);
  background-color: rgb(237, 253, 255);
}
.purchasing-details {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  gap: 10px;
}
.purchasing-info {
  display: flex;
  justify-content: space-between;
}
.price {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 20px;
  span {
    font-size: 14px;
  }
}
.purchase {
  display: flex;
  flex-direction: column;
  h3 {
    color: rgb(99, 122, 0);
  }
  select {
    width: 275px;
    height: 29px;
    border-radius: 5px;
    border: 1px solid rgb(175, 173, 173);
    background: rgb(240, 242, 242);
    box-shadow: 2px 2px 10px rgb(175, 173, 173);
  }
  button {
    border-radius: 15px;
    width: 275px;
    height: 29px;
  }
  margin-left: 20px;
}
.add-cart {
  background: rgb(242, 205, 19);
  border-color: transparent;
}
.buy-now {
  background: rgb(255, 164, 28);
  h3 {
    font-size: 14px;
  }
  border-color: transparent;
}
.right-side {
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
}
.shipping {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 12px;
}
.purchase {
  gap: 10px;
}
.offer {
  color: rgb(194, 39, 4);
}
.original-price,
.saved {
  color: grey;
}
.fees {
  color: grey;
  margin-top: -1px;
  span {
    color: black;
  }
}
.fast-delivery {
  margin-top: -15px;
}
.delivery-location {
  margin-top: -17px;
}
#checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
